.article {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;

  .caption {
    font-size: 1rem;
    color: var(--grey100);
  }

  article {
    width: 100%;
  }

  ul {
    clear: both;
  }
  li {
    margin: 1rem 0;
  }
  li::marker {
    color: red;
  }

  a {
    color: red;
  }

  @media only screen and (max-width: 600px) {
    flex-direction: column-reverse;
  }

  .imgContainer {
    overflow: hidden;
    height: 25rem;
    background-position: center;
  }

  .categories {
    //   margin-top: 1rem;
    display: flex;
    & a {
      //background-color: red;
      width: max-content;
      padding: 0.3rem;
      border-radius: 0.3rem;
      border: solid 1px black;
      margin: 0.5rem;
      color: black;
      text-decoration: none;
      &:first-child {
        margin-left: 0rem;
      }
    }
  }
}
